/* Selectores*/
/*Selector de elemento*/
h1 {
    color: green;
    background-color: beige;
    padding: 20px;
    text-align: center;
}

/*Selector de  clase */

/*Selector de ID*/
#div_temas {
    display: none;
}

.product_cell {
    border: 2px solid #0ca8dc;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.product_cell:hover {
    border: 2px dashed red;
    box-shadow: 0px 0px 10px red;
    cursor: pointer;
}

.product_cell:hover>img {
    opacity: 0.5;
    border: 1px solid black;
}

.laptop>h2 {
    color: blue;
}

.laptop>h3 {
    color: cadetblue;
    text-align: right;
    padding-right: 10px;
}

.celular>h2 {
    color: coral;
}

.celular>h3 {
    color: cadetblue;
    text-align: right;
    padding-right: 10px;
}

.audifono>h2 {
    color: darkcyan;
}

.audifono>h3 {
    color: cadetblue;
    text-align: right;
    padding-right: 10px;
}

.tablet>h2 {
    color: rgb(175, 11, 194);
}

.tablet>h3 {
    color: cadetblue;
    text-align: right;
    padding-right: 10px;
}

/*estilos para el formulario*/
.div_form {
    width: 400px;
    margin: 20px auto;
}

.div_form>form>input {
    height: 40px;
    border: 1px solid#ccc;
    border-radius: 20px;
    width: 70%;
    font-size: 20px;
    padding-left: 20px;
    outline: none;
}

.div_form>form>input:focus {
    border: 1px solid blue;
}

.div_form>form>button {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 28%;
}

.div_form>form>button:hover {
    background-color: #666;
    border: none;
    color: #ffff;
    cursor: pointer;
}

.div_form>form>button:focus {
    border: 2px solid red;
}

/* Pseudo elementos*/
.price::before {
    content: "$ ";
}

.price::after {
    content: ".00";
}